@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap")

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
height: 100vh;
max-width: 1200px;
}
.container{
  display: flex;
}
.left,.right{
    width: 50vw;
    height: 100vh;
    margin: 3rem;
    line-height: 2.2rem;
}
input{
    width: 50%;
    padding: 0.8rem 5rem;
    
}
.form{
    opacity: 0.6;
    position: relative;
}
i{
    position: absolute;
    left: 0.5rem;
    top: 2.7rem;
}
.country-post{
    display: flex;
    justify-content: flex-start;
}
.country select{
    width: 100%;
    padding: 0.5rem 2rem;
}
.postCode{
    position: relative;
    top: 0.5rem;
    left: 8rem;
}
  
  
  




header{
    text-align: center;
    font-size: 30px;
    
}

/* .section1{
  width: 50vw;
  height: 100vh;
} */

.form input{
padding: 0.7rem 10rem;


}
/* .ortak2{
    margin-top: 8rem;
    border: 2px solid red;
    text-align: left;
} */


.ortak2 {
 position:absolute;
  display: flex;
  justify-content:space-between;
  bottom: 0.2rem;
}
.ortak2 input {
  width: 1rem;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  
  
}